.venv/
.idea/
__pycache__/
*.pyc
*.pyo
*.pyd
*.pkl
*.db
*.sqlite3
*.log
*.csv
*.json
*.xml
*.xlsx
*.xls

venv
venv/*

outputs
outputs/*
sweep_results
sweep_results/*

#pkl files
*.pkl
completions
completions/*